<!DOCTYPE html>
<html>
    <%- include('../partials/head', { title: 'All Facts' }) %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/posts') %>
    <%- include('../partials/footer') %>
</body>
</html>